.main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h2 {
    color: #ff8800;
    text-transform: uppercase;
}

.main h4 {
    color: #ff8800;
    text-transform: uppercase;
}



#diet {
    margin: 1rem;
    padding: 0.7rem;
    font-size: 1rem;
}

#recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipes {
    width: 15rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    border-radius: 1rem;
    border:0.2rem solid #ff8800;
}

.main a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    background-color: #ff8800;
    color: #fff;
}